<div class="container">
  <mat-card>
    <mat-card-content class="container-card">
      <h2>Find out everything that interests you!</h2>
      <div class="chat-configuration">
        <mat-label>Ask about:</mat-label>
        <mat-button-toggle-group [(ngModel)]="chat_configuration" name="fontStyle">
          <mat-button-toggle value="Strategy" checked="true">Sport strategy</mat-button-toggle>
          <mat-button-toggle value="Other">Other</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="chat-area">
        <div class="message" *ngFor="let message of messages; let i = index">
          <img *ngIf="i % 2 == 1" src="../../assets/ai_message.png">
          <span>{{ message }}</span>
          <div class="space-between-messages"></div>
        </div>
      </div>
      <div class="send-message">
        <input class="send-message-input" #sendMessageContent matInput placeholder="Send a message">
        <mat-icon matTooltip="Send a message" matTooltipPosition="above" [ngClass]="sendMessageContent.value ? isGeneratingMessageDone ? '' : 'disabled' : 'disabled'" (click)="sendMessage()">send</mat-icon>
      </div>
    </mat-card-content>

    <img class="background-image-right" src="../../assets/creative_ai.png">
    <img class="background-image-left" src="../../assets/creative_ai.png">
  </mat-card>
</div>
