/* You can add global styles to this file, and also import other style files */
.mdc-text-field--filled
	&:not(.mdc-text-field--disabled)
		background-color: #dff0ff !important

.mdc-checkbox__background
	border-color: #00477c !important
	background-color: #00477c !important


